VITE_RPC_URL="op://Solana Dev/Helius/dev rpc"
VITE_EVM_RPC_URL="op://Solana Dev/vmpjk5ubkr7ug63i2m5gzeqfsy/sepolia"
VITE_ARBITRUM_RPC_URL="op://Solana Dev/Alchemy/arbitrum-sepolia"
VITE_OPTIMISM_RPC_URL="op://Solana Dev/Alchemy/optimism-sepolia"
VITE_NETWORK=devnet
