VITE_RPC_URL="op://Solana Dev/Helius/dev rpc"
VITE_EVM_RPC_URL="op://Solana Dev/vmpjk5ubkr7ug63i2m5gzeqfsy/sepolia"
VITE_FOGO_RPC_URL="https://eu.fogo.fluxrpc.com?key=1c177329-f2d4-4c34-a764-11ef846b7dd3"
VITE_ARBITRUM_RPC_URL="op://Solana Dev/Alchemy/arbitrum-sepolia"
VITE_OPTIMISM_RPC_URL="op://Solana Dev/Alchemy/optimism-sepolia"
VITE_NETWORK=devnet
