VITE_RPC_URL="op://Solana Dev/Helius/prod secure rpc"
VITE_EVM_RPC_URL="op://Solana Dev/Alchemy/mainnet"
VITE_FOGO_RPC_URL="https://rpc.fogoscan.io"
VITE_ARBITRUM_RPC_URL="op://Solana Dev/Alchemy/arbitrum"
VITE_OPTIMISM_RPC_URL="op://Solana Dev/Alchemy/optimism"
VITE_NETWORK=mainnet
