/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import * as M0SolanaApi from "../../../index";
import urlJoin from "url-join";
import * as serializers from "../../../../serialization/index";
import * as errors from "../../../../errors/index";

export declare namespace TokenAccount {
    export interface Options {
        environment?: core.Supplier<environments.M0SolanaApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class TokenAccount {
    constructor(protected readonly _options: TokenAccount.Options = {}) {}

    /**
     * Get claim events
     *
     * @param {string} pubkey
     * @param {string} mint
     * @param {M0SolanaApi.GetClaimsRequest} request
     * @param {TokenAccount.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link M0SolanaApi.InvalidMint}
     *
     * @example
     *     await client.tokenAccount.claims("AnuF2dWsdSKJZXCb1cCqTbe6gvp2g3xuDQFd2JjUyWYq", "mzeroXDoBpRVhnEXBra27qzAMdxgpWVY3DzQW7xMVJp")
     */
    public claims(
        pubkey: string,
        mint: string,
        request: M0SolanaApi.GetClaimsRequest = {},
        requestOptions?: TokenAccount.RequestOptions,
    ): core.HttpResponsePromise<M0SolanaApi.Claims> {
        return core.HttpResponsePromise.fromPromise(this.__claims(pubkey, mint, request, requestOptions));
    }

    private async __claims(
        pubkey: string,
        mint: string,
        request: M0SolanaApi.GetClaimsRequest = {},
        requestOptions?: TokenAccount.RequestOptions,
    ): Promise<core.WithRawResponse<M0SolanaApi.Claims>> {
        const { skip, limit, fromTime, toTime } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (skip != null) {
            _queryParams["skip"] = skip.toString();
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        if (fromTime != null) {
            _queryParams["from_time"] = fromTime.toString();
        }

        if (toTime != null) {
            _queryParams["to_time"] = toTime.toString();
        }

        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.M0SolanaApiEnvironment.Mainnet,
                `/token-account/${encodeURIComponent(pubkey)}/${encodeURIComponent(mint)}/claims`,
            ),
            method: "GET",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 30000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: serializers.Claims.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new M0SolanaApi.InvalidMint(
                        serializers.RequestError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.M0SolanaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.M0SolanaApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.M0SolanaApiTimeoutError(
                    "Timeout exceeded when calling GET /token-account/{pubkey}/{mint}/claims.",
                );
            case "unknown":
                throw new errors.M0SolanaApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Get token balance updates
     *
     * @param {string} pubkey
     * @param {string} mint
     * @param {M0SolanaApi.BalanceUpdatesRequest} request
     * @param {TokenAccount.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link M0SolanaApi.InvalidMint}
     *
     * @example
     *     await client.tokenAccount.transfers("88FHCznZEXoBNfCFPb6GtztKZEtvkrd4s3sUUGmbxHtU", "mzerokyEX9TNDoK4o2YZQBDmMzjokAeN6M2g2S3pLJo")
     */
    public transfers(
        pubkey: string,
        mint: string,
        request: M0SolanaApi.BalanceUpdatesRequest = {},
        requestOptions?: TokenAccount.RequestOptions,
    ): core.HttpResponsePromise<M0SolanaApi.BalanceUpdates> {
        return core.HttpResponsePromise.fromPromise(this.__transfers(pubkey, mint, request, requestOptions));
    }

    private async __transfers(
        pubkey: string,
        mint: string,
        request: M0SolanaApi.BalanceUpdatesRequest = {},
        requestOptions?: TokenAccount.RequestOptions,
    ): Promise<core.WithRawResponse<M0SolanaApi.BalanceUpdates>> {
        const { skip, limit, fromTime, toTime } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (skip != null) {
            _queryParams["skip"] = skip.toString();
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        if (fromTime != null) {
            _queryParams["from_time"] = fromTime.toString();
        }

        if (toTime != null) {
            _queryParams["to_time"] = toTime.toString();
        }

        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.M0SolanaApiEnvironment.Mainnet,
                `/token-account/${encodeURIComponent(pubkey)}/${encodeURIComponent(mint)}/transfers`,
            ),
            method: "GET",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 30000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: serializers.BalanceUpdates.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new M0SolanaApi.InvalidMint(
                        serializers.RequestError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.M0SolanaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.M0SolanaApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.M0SolanaApiTimeoutError(
                    "Timeout exceeded when calling GET /token-account/{pubkey}/{mint}/transfers.",
                );
            case "unknown":
                throw new errors.M0SolanaApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
